.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: transparent;
    transition: all 500ms ease-in;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 1s ease-in;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 300ms linear;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: all 500ms;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 500ms;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-7-img {
    transition: all 1s;
}

.ex-8-img {
    transition: all 400ms;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 500ms;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* EFFECTS */

/* EX 1 */

.ex-1-square:hover {
background-color: red;
}

/* EX 2 */

.ex-2-square:active {
    width: 100%;
}

/* EX 3 */

.ex-3-square:hover {
    border-radius: 50%;
}

/*  EX 4 */
.ex-4-square:hover{
    opacity: 0;
}

/* EX 5 */

.ex-5-square:hover {
    transform: scale(1.5);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* EX 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* EX 7 */

.ex-7-img:hover {
    filter: grayscale(60%) sepia(20%);
}

.ex-8-img:hover {
    filter: grayscale(60%) sepia(20%);
    border-radius: 20px;
}

.ex-9-img:hover {
    filter: grayscale(60%) sepia(20%);
    border-radius: 20px;
    transform: scale(1.5);
}